body {
    display:flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.space-line{
    display: flex;
    border-radius: 50%;
    align-self: normal;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 70px;
    padding-right: 70px;
}

a, ul{
    list-style: none;
   
}
.info-ul{
    flex-direction: column;
    display: flex;
    gap: 5px;

}

.left-right{
    display: flex;
    flex-direction: row;
}

.left-side{
    display: flex;
    flex-direction: column;
    background-color: rgb(152, 80, 80);
    gap: 16px;
    padding: 16px;

}

.language-title, .skill-title{
    align-items: center;
    font-size: 30px;
    font-weight: bold;

}


.image-subname-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    margin: 16px;
}


.profile-image {
    border-radius: 50%;
    border-color: gray;
    border-style: solid;
    height: 200px;
    width:200px;
}

.info-card {
    display: flex;
    
}

.skills-card{
    display: flex;
    flex-direction: column;
    gap: 8px;

    
}



.container {
    background-color: #ffffff;
    width: 100%;
    
    
      
  }
.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white;
    
    
    
  }
  .fas{
    color: black;
  }

.s1 {
    width: 90%;
    background-color: #808080;
} 
.s2 {
    width: 80%;
    background-color: #808080;
} 
.s3 {
    width: 65%; 
    background-color: #808080;
} 
.s4 {
    width: 60%; 
    background-color: #808080;
} 

.language-li{
    padding: 5px;
    
}

.right-side {
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.right-title{
    font-size: 30px;
}

.job-name{
    font-size: 25px;
    padding: 5px;
}

.degree{
    font-size: 18px;
    font-weight: bold;
}



footer {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding-top: 32px;
    padding-bottom: 32px;

}





